/*Header Styles*/

/*Background Photo Styles*/
:root {
}

* {
}

.hero {
}

body {
}
/* need to add more classes and id's on the HTML */

/*Character Choices Styles*/

header {
  text-align: center;
}

.char-section {
  text-align: center;
}

.roll-btn {
  color: rgb(51, 51, 204);
}

/*Map Styles*/

/*Name Input Styles*/

/* UTILITIES */

/*Media Query for Smaller Desktop Screens and Smaller*/

/*Media Query for Tablets and Smaller*/

/*Media Query for Mobile Phones and Smaller*/
